@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');

:root {
  --border: 2px solid red;

  /* Primary Color */
  --bg: #bdcfe8;
  --header: #f2f2f2;
  --main-bg: 250, 250, 250;

  /* Accent Color */
  --acc-blue: rgb(83, 90, 255);
  --acc-green: rgb(46, 208, 159);
  --acc-red: rgb(246, 72, 28);
  --acc-gray: rgb(186, 186, 186);

  /* Gradient */
  --grad-blue-w: linear-gradient(90deg, var(--acc-blue) 0%, white 100%);
  --grad-green-w: linear-gradient(90deg, var(--acc-green) 0%, white 100%);
  --grad-red-w: linear-gradient(90deg, var(--acc-red) 0%, white 100%);
  --grad-gray-w: linear-gradient(90deg, var(--acc-gray) 0%, white 100%);
  --grad-blue-red: linear-gradient(
    45deg,
    var(--acc-blue) 0%,
    var(--acc-red) 100%
  );
  --grad-blue-red-t: linear-gradient(
    315deg,
    rgba(83, 90, 255, 0.2) 0%,
    rgba(250, 250, 250, 0.1) 50%,
    rgba(246, 72, 28, 0.08) 75%,
    rgba(250, 250, 250, 0.1) 100%
  );
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  display: flex;
  background-color: var(--bg);
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--header);
  box-shadow: 0px 2px 8px 0px rgba(190, 190, 190, 0.2);
  z-index: 100;
}

.header .title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header .search-bar {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-radius: 0.25rem;
}

.search-bar input {
  outline: none;
  border: none;
  width: 16rem;
}

.search-bar input::placeholder {
  color: black;
  font-weight: 500;
  font-family: 'Roboto Slab', sans-serif;
}

.search-bar span {
  font-size: 1.25rem;
}

.right-side {
  display: flex;
  align-items: center;
}

.right-side * {
  cursor: pointer;
}

.right-side .icon {
  border: none;
  border-radius: 0.25rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.right-side .icon.settings {
  margin-right: 2rem;
}

.right-side .img-profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-size: cover;
}
/* END HEAER */

.container {
  flex-grow: 1;
  display: flex;
  background-color: rgba(var(--main-bg), 0.8);
}

/* NAV */
nav {
  width: 192px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--grad-blue-red-t);
  z-index: 1;
  box-shadow: 2px 0px 4px 0px rgba(190, 190, 190, 0.1);
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

li.nav-list {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 100ms linear;
}

li.nav-list span {
  margin-right: 0.75rem;
}

li.nav-list.active,
li.nav-list.active:hover {
  background: var(--grad-blue-red);
  color: white;
}

li.nav-list:hover {
  background: rgba(190, 190, 190, 0.2);
}

li.nav-list i {
  margin-right: 0.5rem;
}

footer {
  padding: 1rem;
  padding-bottom: 2rem;
  line-height: 0.5rem;
  font-size: smaller;
}

footer .bold {
  font-size: medium;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

footer .tou {
  cursor: pointer;
  color: black;
}
/* END NAV */

/* MAIN */
main {
  flex-grow: 1;
  background-color: rgb(var(--main-bg));
  padding: 2rem;
}

/* DISCIPLINES SECTION */
.disciplines .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 1rem;
}

.disciplines .box-course:nth-child(1) {
  background: var(--grad-green-w);
}
.disciplines .box-course:nth-child(2) {
  background: var(--grad-blue-w);
}
.disciplines .box-course:nth-child(3) {
  background: var(--grad-red-w);
}
.disciplines .box-course:nth-child(4) {
  background: var(--grad-gray-w);
}

.disciplines .box-course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  padding: 1rem;
}

.disciplines .box-course .title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
/* END DISCIPLINES SECTION */

/* OVERVIEW SECTION */
.overview {
  margin-top: 4rem;
}

.overview .box-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.overview .box-course {
  padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  /* border: var(--border); */
}

.overview .title {
  margin-top: 0;
}

.overview .category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(108px, 1fr));
  gap: 1rem;
}

.overview .cat {
  padding: 0.25rem 0.75rem;
  color: white;
  font-size: small;
  font-weight: 400;
  border-radius: 0.15rem;
  text-align: center;
}

.overview .cat.sci {
  background: var(--acc-green);
}
.overview .cat.tech {
  background: var(--acc-blue);
}
.overview .cat.eng {
  background: var(--acc-red);
}
.overview .cat.math {
  background: var(--acc-gray);
}

.chart {
  width: 10;
  height: 6;
  margin-top: 1.5rem;
  /* border-radius: 50%; */
}

/* END OVERVIEW SECTION */

/* END MAIN */
